body{
    background-color:
    font-family: "KCC은영체","THE_Oegyeinseolmyeongseo","BLKCHCRY","wiggle-hangeul","Dynalight-Regular";
    margin-left: 50px:
}

header{
    width: 100%;
    margin-right: 50px;
    margin-left: -20px;
    background-color: #a0a0a0;
    padding: 10px;
    overflow: hidden;
}

header h1{
    width: 100%;
    float: center;
    color: 000000;
    margin: 15px;
    margin-left: 40px;
    font-style: italic;
}

header nav{
    width: 100%;
    float: center;
    margin: 15px;
    margin-left: 40px;
}

nav ul li{
    display: inline;
    float: center;
    margin: 15px;
    text-decoration: underline;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
p{
    font-size: 15px;
    line-height: 20px;
    width: 90%;
    margin-right: 50px;
    margin-left: 10px;
    background-color: none;
    padding: 10px;
    overflow: hidden;

}

section{
    width: 90%;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    color: #fff;
}
section1{
    float: right;
    margin-right: 20px;
}
footer{
    width: 100;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    background-color:#a0a0a0;
    text-align: center;
}

ul{
    list-style-type: circle;
}

header{
    font-family: KCC은영체;
}

body{
    font-family: KCC은영체;
}

.medium{
    width: 100%;
    float: center;
    font-size: x-large;
    font-family: Dynalight-Regular;
    text-align:
    font-style: bold;
    word-spacing: 0.3emp;
    color: #fff;
}
.small{
    font-family: BLKCHCRY;
    font-size: small;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.3em;
    color: #A1A1A1;
}

h1{
    font-variant: small-caps
}

.shadow2{
    text-shadow: -3px 3px 2px #999 ;
    text-align: center;
}

table{
    width: 400px;
    border: 2px solid black;
    margin: auto;
}
td{
    border: 1px solid black;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: black;
}
